*{
    margin: 0;
    padding: 0;
}
body{
    font-family: microsoft yahei;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* header.vue组件 */

.header{
    width: 100%;
    height: 40px;
    background-color: #333;
}
.header .header-in{
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header .header-in ul{
    display: flex;
    line-height: 40px;
}
.header .header-in ul li{
    margin: 0 10px;
    
}
.header .header-in ul li a,
.header .header-in ul span{
    color: #b0b0b0;
    font-size: 12px;
}
.header .header-in .nav-top-right a,
.header .header-in .nav-top-right span{
    font-size: 15px;
}
.header .header-in ul li a:hover{
    cursor: pointer;
    color: #fff;
}

/* menu.vue组件 */

.menu{
    width: 100%;
}
.menu-in{
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu-in .logo{
    height: 80px;
    line-height: 80px;
}
.menu-in .logo img{
    vertical-align: middle;
}
.menu-in ul{
    display: flex;
    align-items: center;
}
.menu-in ul li{
    margin: 0 15px;
}
.menu-in ul li a{
    color: #b0b0b0;
    font-size: 15px;
}
.menu-in ul li a:hover{
    cursor: pointer;
    color: #ff6700;
}
.menu-in .search{
    display: flex;
    align-items: center;
    line-height: 80px;
}
.menu-in .search input{
    height: 35px;
    border: 1px solid #f0f0f0;
    outline: none;
}
.menu-in .search button{
    width: 45px;
    height: 37px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-left: none;
    font-weight: bold;
}
.menu-in .search button:hover{
    cursor: pointer;
}

/* banner.vue组件 */

.banner{
    width: 100%;
}
.banner-in{
    width: 1220px;
    margin: 20px auto;
    position: relative;
}
.banner-in .banner-l{
    width: 260px;
    min-height: 438px;
    background-color:rgba(0, 0, 0, .8);
    float: left;
    z-index: 100;
    position: absolute;
    padding: 10px 0;
}
.banner-in .banner-l ul li{
    line-height: 43px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    color: #fff;
    font-size: 20px;
}
.banner-in .banner-l ul li a{
    color: #fff;
    font-size: 13px;
}
.banner-in .banner-l ul li:hover{
    background-color: #ff6700;
    transition: all 1s;
}
.banner-in .banner-r{
    float: right;
}
.banner-in .banner-r img{
    width: 100%;
    vertical-align: middle;
}


/* bootentry组件 */

.bootentry{
    width: 100%;
    margin: 20px 0;
}
.bootentry .bootentry-in{
    width: 1220px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.bootentry .bootentry-in .bootentry-first{
    width: 260px;
    height: 170px;
    background-color: #5f5750;
    
}
.bootentry .bootentry-in .bootentry-first ul {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bootentry .bootentry-in .bootentry-first ul li{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    border: 1px solid #888
}
.bootentry .bootentry-in .bootentry-first ul li:first-child{
    border-left: none;
    border-top: none;
}
.bootentry .bootentry-in .bootentry-first ul li:nth-child(2){
    border-top: none;
}
.bootentry .bootentry-in .bootentry-first ul li:nth-child(3){
    border-right: none;
    border-top: none;
}
.bootentry .bootentry-in .bootentry-first ul li:nth-child(4){
    border-left: none;
    border-bottom: none;
}
.bootentry .bootentry-in .bootentry-first ul li:nth-child(5){
    border-bottom: none;
}
.bootentry .bootentry-in .bootentry-first ul li:nth-child(6){
    border-right: none;
    border-bottom: none;
}
.bootentry .bootentry-in .bootentry-first ul li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    
}
.bootentry .bootentry-in .bootentry-first ul li a p{
    line-height: 35px;
    font-size: 13px;
    color: #fff;
}

/* hotgoods.vue组件 */

.hotgoods{
    width: 100%;
    margin: 10px 0;
}
.hotgoods-top{
    width: 1220px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.hotgoods-top .hotgoods-r button{
    padding: 2px 20px;
    color: #bebebe;
    border: 1px solid #f0f0f0;
    background-color: #fff;
}
.hotgoods-top .hotgoods-r button:hover{
    cursor: pointer;
}
.hotgoods ul{
    width: 1220px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
}
.hotgoods ul li{
    width: 230px;
    min-height: 200px;
    padding: 20px 0;
    text-align: center;
    background-color: #fafafa;
    border-top: 1px solid #ff7600;
}
.hotgoods ul li:nth-child(2){
    border-top: 1px solid red;
}
.hotgoods ul li:nth-child(3){
    border-top: 1px solid #adff2f;
}
.hotgoods ul li:nth-child(4){
    border-top: 1px solid #6495ed;
}
.hotgoods ul li:nth-child(5){
    border-top: 1px solid #6a5acd;
}
.hotgoods ul li img{
    width: 160px;
    height: 110px;
    vertical-align: middle;
}
.hotgoods ul li .detail{
    margin-top: 40px;
}
.hotgoods ul li .detail p{
    line-height: 30px;
    font-size: 12px;
    color: #333;
}
.hotgoods ul li .detail p.qianse{
    color: #b0b0b0;   
}

/* hardware.vue组件 */
.hardware-in{
    width: 1220px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding-bottom: 20px;
}
.hardware-main{
    width: 1220px;
    margin: 0 auto;
    display: flex;
}
.hardware-main ul{
    width: 960px;
    height: 614px;
    flex-wrap: wrap;
    align-content: space-between;
}
.hardware-main ul li{
   height: 250px;
   border: none;
   padding: 20px 0;
}
.hardware-main ul li:nth-child(2),
.hardware-main ul li:nth-child(3),
.hardware-main ul li:nth-child(4),
.hardware-main ul li:nth-child(5){
    border: none;
}
.hardware-main ul li p.money{
    color: orangered;
}

/* footer.vue组件 */

.footer{
    width: 100%;
}
.footer-in{
    width: 1220px;
    margin: 0 auto;
}
.footer-in .title ul{
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    border-bottom: 1px solid #bebebe;

}
.footer .title a{
    color: #9d9d9d;
}
.footer .footer-in .footer-main{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}
.footer .footer-in .footer-main .footer-l{
    width: 800px;
    display: flex;
    justify-content: space-around;
}
.footer .footer-in .footer-main ul li{
    line-height: 30px;
}
.footer .footer-in .footer-main .footer-l ul li:first-child{
    line-height: 50px;
}
.footer .footer-in .footer-main ul li a{
    color: #bebebe;
    font-size: 12px;
}
.footer .footer-in .footer-main .footer-r{
    padding: 10px;
}
.footer .footer-in .footer-main .footer-r ul{
    text-align: center;
    border-left: 1px solid #b0b0b0;
    padding: 0 20px;
}
.footer .footer-in .footer-main .footer-r ul li{
    font-size: 12px;
}
.footer .footer-in .footer-main .footer-r ul li h5{
    font-size: 20px;
    color: orangered;
}
.footer .footer-in .footer-main .footer-r ul li button{
    border: 1px solid orangered;
    color: orangered;
    padding: 5px 10px;
    background-color: #fff;
}
.footer .footer-bottom{
    width: 1220px;
    display: flex;
    background-color: #fafafa;
}
.footer .footer-bottom .logo{
    width: 49px;
    height: 49px;
    background-color: orangered;
}
.footer .footer-bottom p{
   line-height: 49px;
   margin-left: 20px;
   font-size: 12px;
   color: #757575;
}






